@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap");


* {
  /* background-color: #0A0A0A; */

    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

body{
  height: 100vh;
  cursor: none !important;
}

/* Styles for the dot that will follow the cursor */
.cursorDot {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

/* Styles for the larger outline that follows smoothly */
.cursorOutline {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9998;
  transform: translate(-50%, -50%);
}




.navbar {
  color: black;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin: 30px 150px;
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  height: auto;
  width: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  gap: 2rem;
}

.nav-text {
  font-family: "Syne", sans-serif;
  font-weight: 500;
  background: transparent;
}
